@charset "utf-8";
body, html {
	height: 100%;
	weight: 100%;
}
.img_form
{
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 200px;
}
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000000;
	z-index: 200;
	border-bottom: solid 1px transparent;
    border-image: linear-gradient(to right, #487fee, #32fa95);
    border-image-slice: 1;
    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header_content
{
	height: 80px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled
{
	background: rgba(63,111,206,0.85);
}
.header.scrolled .header_content
{
	height: 50px;
}
.logo
{
	width: 90px;
}
.logo img
{
	max-width: 90%;
}
.main_nav
{
	margin-left: 140px;
}
.main_nav ul li 
{
	display: inline-block;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 70px;
}
.main_nav ul li a ,h5
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #2cd983;
}



.product
{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 99px;
}
.product_image_1
{
	width: 70%;
	padding-right: 20px;
}

.product_image img
{
	max-width: 100%;
}
.product_sidebar
{
	width: 26%;
	padding-left: 18px;
}
.product_form
{
	display: block;
}
.product_name
{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #414141;
	line-height: 1.2;
}
.product_price
{
	font-size: 24px;
	font-weight: 700;
	color: #414141;
	margin-top: 13px;
}
.product_color
{
	font-size: 16px;
	font-weight: 700;
	color: #414141;
	margin-top: 34px;
}
.product_color span
{
	color: #838383;
}
.product_size
{
	margin-top: 53px;
}
.img_from{
	margin-top: 100px;
	margin-left: 10px;
}

.buy_page{
	margin-top: 100px;

}
.select_buy ,.pice_buy{
	width: 25%;
}
input, button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
  }
button {
	background: #5d8ffc;
	color: #fff;
	border: 1px solid #5d8ffc;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 50%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
  }
  
  input , select {
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #fff;
	padding: 15px;
	outline: none;
	width: 20%;
	margin-bottom: 10px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
  }
.email_user ,.password_user ,.Phone_number{
	width: 70%;
}
.Sign_in ,.Sign_up{
	width: 20%;
}



.recent
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 105px;
	padding-bottom: 101px;
}
.recent_row
{
	margin-top: 60px;
}
.recent_slider_container
{
	width: calc(100% + 30px);
	left: -15px;
}
.recent_item
{
	width: 100%;
	padding-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.recent_item_inner
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.recent_item:hover .recent_item_inner
{
	box-shadow: 0px 20px 20px rgba(0,0,0,0.35);
}
.recent_item_image
{
	width: 100%;
}
.recent_item_image img
{
	max-width: 100%;
}
.property_tag
{
	position: absolute;
	top: 20px;
	left: 22px;
	height: 33px;
	text-align: center;
}
.property_tag a
{
	display: block;
	padding-left: 15px;
	padding-right: 13px;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 33px;
}
.tag_featured
{
	background: #ff2d6d;
}
.tag_offer
{
	background: #f3b715;
}
.tag_new
{
	width: 87px;
	background: #34e69d;
}
.recent_item_body
{
	padding-top: 33px;
	padding-bottom: 35px;
	background: #eff2f6;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.recent_item:hover .recent_item_body
{
	background: #FFFFFF;
}
.recent_item_location
{
	font-size: 12px;
	font-weight: 400;
	color: #8c8c8c;
	line-height: 0.75;
}
.recent_item_title
{
	margin-top: 11px;
}
.recent_item_title a
{
	font-size: 22px;
	font-weight: 500;
	color: #252525;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.recent_item_title a:hover
{
	color: #3f6fce;
}
.recent_item_price
{
	font-size: 16px;
	font-weight: 600;
	color: #3f6fce;
	line-height: 0.75;
	margin-top: 21px;
}
.recent_item_footer
{
	width: 100%;
	height: 52px;
	background: #282828;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.recent_item_footer > div:not(:last-child)
{
	margin-right: 20px;
}
.recent_icon
{
	display: inline-block;
	width: 23px;
	height: 14px;
	margin-right: 8px;
}
.recent_icon img
{
	max-width: 100%;
}
.recent_item_footer span
{
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
}
.recent_item:hover .recent_item_footer
{
	background: #3f6fce;
}
.recent_button
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.recent_slider_nav_container
{
	position: absolute;
	top: -97px;
	right: 15px;
}
.recent_slider_nav
{
	width: 32px;
	height: 32px;
	background: #eff2f6;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.recent_slider_nav:first-child
{
	margin-right: 5px;
}
.recent_slider_nav i
{
	color: #a4a4a4;
	line-height: 32px;
	font-size: 9px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.recent_slider_nav:hover
{
	background: #3f6fce;
}
.recent_slider_nav:hover i
{
	color: #FFFFFF;
}


/*footer*/

.copyrights{
	height: 180px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	}
	
	footer.container-fluid.text-center.foot {
		background: #383838;
	}
	
	.dark-line{
	border-top: 1px solid #525252;
	}
	
	.white-txt{
	color: #FFF;
	}
	
	
	a.link {
		color: #008acc;
		border: 1px #008acc solid;
		padding: 5px;
		text-decoration: none;
	}
	
	a.link:hover {
	background: #008acc;
		color: #383838;
	}
	
	.footimg{
	width: 5rem;
	}