@charset "utf-8";
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #000000;
	z-index: 200;
	border-bottom: solid 1px transparent;
    border-image: linear-gradient(to right, #487fee, #32fa95);
    border-image-slice: 1;
    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_content
{
	height: 80px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	background: rgba(63,111,206,0.85);
}
.header.scrolled .header_content
{
	height: 50px;
}
.logo
{
	width: 90px;
}
.logo img
{
	max-width: 90%;
}
.main_nav
{
	margin-left: 140px;
}
.main_nav ul li
{
	display: inline-block;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 70px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #2cd983;
}



.product
{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 99px;
}
.product_image_1
{
	width: 70%;
	padding-right: 20px;
}

.product_image img
{
	max-width: 100%;
}
.product_sidebar
{
	width: 26%;
	padding-left: 18px;
}
.product_form
{
	display: block;
}
.product_name
{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #414141;
	line-height: 1.2;
}
.product_price
{
	font-size: 24px;
	font-weight: 700;
	color: #414141;
	margin-top: 13px;
}
.product_color
{
	font-size: 16px;
	font-weight: 700;
	color: #414141;
	margin-top: 34px;
}
.product_color span
{
	color: #838383;
}
.product_size
{
	margin-top: 53px;
}
.img_from{
	margin-top: 100px;
	margin-left: 10px;
}

.buy_page{
	margin-top: 100px;

}
.select_buy ,.pice_buy{
	width: 25%;
}
input, button {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
  }
button {
	background: #5d8ffc;
	color: #fff;
	border: 1px solid #5d8ffc;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 50%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
  }
  
  input , select {
	display: block;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #fff;
	padding: 15px;
	outline: none;
	width: 20%;
	margin-bottom: 10px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
  }
.email_user{
	width: 70%;
}
.password_user{
	width: 70%;
}
.Sign_in{
	width: 20%;
}